<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Лабораторна робота №2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/sticky-footer.css">
</head>
<body>
    {{> header}}
    <main>
        <div class="container">
            <div class="justify-content-center">
				<div class="text-center">
					<h1 class="col-sm-12">Лабораторна робота №2<br>Цикл з параметром for</h1>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 mb-2">
                        <div class="list-group text-center" id="list-tab" role="tablist">
                            <a href="/lab1" class="list-group-item list-group-item-action" id="list-lab1-item">Лабораторна робота №1</a>
                            <a href="/lab2" class="list-group-item list-group-item-action active" id="list-lab2-item">Лабораторна робота №2</a>
                            <a href="/lab3" class="list-group-item list-group-item-action" id="list-lab3-item">Лабораторна робота №3</a>
                            <a href="/lab4" class="list-group-item list-group-item-action" id="list-lab4-item">Лабораторна робота №4</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <form id="calculationsForm" action="/lab2" method="POST">
                            <div class="form-group">
                                <label for="coefficientA">Введіть коефіцієнт A</label>
                                <input type="number" class="form-control {{#if errors.coefficientA}}is-invalid{{/if}}" id="coefficientA" name="coefficientA" value="{{coefficientA}}" placeholder="Введіть коефіцієнт A" required>
                                <div class="invalid-feedback">
                                    {{errors.coefficientA}}
                                </div>
							</div>
							<div class="form-group">
                                <label for="coefficientB">Введіть коефіцієнт B</label>
                                <input type="number" class="form-control {{#if errors.coefficientB}}is-invalid{{/if}}" id="coefficientB" name="coefficientB" value="{{coefficientB}}" placeholder="Введіть коефіцієнт B" required>
                                <div class="invalid-feedback">
                                    {{errors.coefficientB}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="variableX1">Введіть X1</label>
                                <input type="number" class="form-control {{#if errors.variableX1}}is-invalid{{/if}}" id="variableX1" name="variableX1" value="{{variableX1}}" min="0.01" step="0.01" placeholder="Введіть X1" required>
                                <div class="invalid-feedback">
                                    {{errors.variableX1}}
                                </div>
                            </div>
							<div class="form-group">
                                <label for="variableX2">Введіть X2</label>
                                <input type="number" class="form-control {{#if errors.variableX2}}is-invalid{{/if}}" id="variableX2" name="variableX2" value="{{variableX2}}" min="0.01" step="0.01" placeholder="Введіть X2" required>
                                <div class="invalid-feedback">
                                    {{errors.variableX2}}
                                </div>
                            </div>
							<div class="form-group">
                                <label for="variableX3">Введіть X3</label>
                                <input type="number" class="form-control {{#if errors.variableX3}}is-invalid{{/if}}" id="variableX3" name="variableX3" value="{{variableX3}}" min="0.01" step="0.01" placeholder="Введіть X3" required>
                                <div class="invalid-feedback">
                                    {{errors.variableX3}}
                                </div>
                            </div>
							<div class="form-group">
                                <label for="variableX4">Введіть X4</label>
                                <input type="number" class="form-control {{#if errors.variableX4}}is-invalid{{/if}}" id="variableX4" name="variableX4" value="{{variableX4}}" min="0.01" step="0.01" placeholder="Введіть X4" required>
                                <div class="invalid-feedback">
                                    {{errors.variableX4}}
                                </div>
                            </div>
							<div class="form-group">
                                <label for="variableX5">Введіть X5</label>
                                <input type="number" class="form-control {{#if errors.variableX5}}is-invalid{{/if}}" id="variableX5" name="variableX5" value="{{variableX5}}" min="0.01" step="0.01" placeholder="Введіть X5" required>
                                <div class="invalid-feedback">
                                    {{errors.variableX5}}
                                </div>
                            </div>
							<input type="submit" id="calculateBtn" class="btn btn-success" value="Розрахувати"/>
                        </form>
                        <div class="mt-2">
                            <h4>Результат</h4>
                            <p class="lead" id="result">
                                {{#if result}}
                                    {{~#each result~}}
                                        x = {{this.x}}; y = {{roundNumber 4 this.y}}<br>
                                    {{/each}}
                                {{/if}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{> footer}}
</body>
</html>