<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>Історія замовлень</title>
</head>
<body>
    {{> shopHeader}}
    <main>
        <div class="container">
            <div class="justify-content-center">
				<div class="text-center">
					<h1 class="display-3 col-sm-12">Історія замовлень</h1>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{#unless orders}}
                        <div class="alert alert-secondary text-center" role="alert">
                            Нема замовлень
                        </div>
                        {{/unless}}
                        {{#if orders}}
                            <ul class="list-group">
                            {{#each orders}}
                                <li class="list-group-item">
                                    <p class="float-left">Дата замовлення: {{formatDate this.date 'dd.mm.yyyy HH:MM'}}</p>
                                    <p class="float-right">Статус: {{getOrderStatusLabel this.status}}</p>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Назва</th>
                                                <th>Ціна, грн</th>
                                                <th>Кількість</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each this.items}}
                                                <tr>
                                                    <td>{{this.product.name}}</td>
                                                    <td>{{this.product.price}}</td>
                                                    <td>{{this.count}}</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                    <div class="text-right">
                                        <p class="lead">
                                            До оплати: <strong>{{getTotalCartPrice this.items}} грн</strong>
                                        </p>
                                    </div>
                                </li>
                            {{/each}}
                            </ul>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{> footer}}
    <script type="text/javascript" src="/js/cart.js"></script>
</body>
</html>