<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Статті</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/sticky-footer.css">
</head>
<body>
    {{> header}}
    <main>
        <div class="container">
            <div class="justify-content-center">
				<div class="text-center">
					<h1 class="display-3 col-sm-12">Статті</h1>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 mb-2">
                        <h4 class="display-4 text-center">Меню</h4>
                        <div class="list-group text-center" id="list-tab" role="tablist">
                            <a href="/articles" class="list-group-item list-group-item-action active" id="list-lab1-item">Статті</a>
                            <a href="/about" class="list-group-item list-group-item-action" id="list-lab1-item">Про автора</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="mb-2">
                            <a href="/articles/create" class="btn btn-success">Додати статтю</a>
                        </div>
                        {{#unless articles}}
                        <div class="alert alert-secondary text-center" role="alert">
                            Нема статей
                        </div>
                        {{/unless}}
                        {{#each articles}}
                        <div class="card mb-2">
                            <h5 class="card-header text-white bg-dark">{{this.title}}</h5>
                            <div class="card-body">
                                <p class="card-text">{{this.description}}</p>
                                <a href="/articles/show/{{this._id}}" class="btn btn-success">Далі</a>
                                <form action="/articles/delete" class="float-right" method="POST">
                                    <input type="hidden" name="id" value="{{this._id}}"/>
                                    <button type="submit" class="btn btn-danger text-white p-1">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </form>
                                <a href="/articles/update/{{this._id}}" class="btn btn-success text-white float-right p-1 mr-1">
                                    <i class="material-icons">edit</i>
                                </a>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 text-md-left">
                                        {{this.author}}
                                    </div>
                                    <div class="col-sm-12 col-md-6 text-md-right">
                                        {{formatDate this.date}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{> footer}}
</body>
</html>