<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>Категорії</title>
</head>
<body>
    {{> adminHeader}}
    <main>
        <div class="container">
            <div class="justify-content-center">
				<div class="text-center">
					<h1 class="display-3 col-sm-12">Категорії</h1>
                </div>
                <div class="mb-2">
                    <a href="/categories/create" class="btn btn-success">Додати категорію</a>
                </div>
                {{#if categories}}
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Назва</th>
                            <th>Змінити</th>
                            <th>Видалити</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each categories}}
                            <tr>
                                <td>{{this.categoryId}}</td>
                                <td>{{this.name}}</td>
                                <td>
                                    <a href="/categories/update/{{this.categoryId}}" class="btn btn-success text-white p-1">
                                        <i class="material-icons">edit</i>
                                    </a> 
                                </td>
                                <td>
                                    <form action="/categories/delete" method="POST">
                                        <input type="hidden" name="id" value="{{this.categoryId}}"/>
                                        <button type="submit" class="btn btn-danger text-white p-1">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <div class="alert alert-secondary text-center" role="alert">
                    Нема категорій
                </div>
                {{/if}}
            </div>
        </div>
    </main>
    {{> footer}}
</body>
</html>